<?xml version="1.0" encoding="UTF-8"?>
<?define CompanyName="MyCompany"?>
<?define Name = "WixLab.WpfApp" ?>
<?define Description = "Demo for Wix" ?>
<?define Manufacturer = "ASKA" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="$(var.Name)" Language="1033" Version="1.0.0.0" UpgradeCode="d7bf31e2-8137-403a-bf19-d9d98463b819"
           Manufacturer="$(var.Manufacturer)" >
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <!-- Step 1: Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.CompanyName)" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.CompanyName)"/>
      </Directory>
    
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LOCALDATADIRECTORY" Name="$(var.CompanyName)"/>
      </Directory>
    </Directory>

    <!-- Step 2: Tell WiX to install the files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="WixLab.WpfApp.exe" />
      <ComponentRef Id="ApplicationShortcut" />  
      <ComponentRef Id="localAppDataSettings" />
    </Feature>

    <!-- Step 3: Add UI to your installer / Step 4: Trigger the custom action -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <!-- Removing EULA dialog -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>

      <Publish Dialog="ExitDialog"
            Control="Finish"
            Event="DoAction"
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.Name)" />
    <Property Id="WixShellExecTarget" Value="[#WixLab.WpfApp.exe]" />
    <CustomAction Id="LaunchApplication"
                  BinaryKey="WixCA"
                  DllEntry="WixShellExec"
                  Impersonate="yes" />
	</Product>

  <Fragment>              
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="WixLab.WpfApp.exe" Guid="{656E495C-48C5-41B7-A482-DD07C2A59A4B}">
        <File Id="WixLab.WpfApp.exe" Source="$(var.WixLab.WpfApp.TargetDir)publish\WixLab.WpfApp.exe" Checksum="yes"/>
      </Component>  
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{E8626AD8-1028-4158-B002-D2B9C2582C4D}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.Name)"
                  Description="$(var.Description)"
                  Target="[#WixLab.WpfApp.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.CompanyName)\$(var.Name)\WixLab.WpfApp.exe" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  
  <Fragment>
    <DirectoryRef Id="LOCALDATADIRECTORY">
      <Component Id="localAppDataSettings" Guid="{310110D5-E929-4CDF-8A7A-8A49536B2901}">
        <File Id="appsettings.json" Source="$(var.WixLab.WpfApp.TargetDir)appsettings.json" Checksum="yes"/>
        <RemoveFolder Id="CleanUpLocalAppData" Directory="LOCALDATADIRECTORY" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.CompanyName)\$(var.Name)\appsettings.json" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
